.btn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-next-step button {
  font-size: 16px;
  padding: 16px 22px 16px;
  background-color: var(--Marine-blue);
  color: var(--White);
  border: none;
  border-radius: 8px;
}
.btn-next-step {
  justify-content: start;
}

.btn-next-step button:hover {
  background-color: var(--Purplish-blue);
  transition: 0.3s;
  cursor: pointer;
}

.btn-back-step button {
  font-size: 16px;
  padding: 16px 0px 16px;
  background-color: transparent;
  color: var(--Cool-gray);
  font-weight: 600;
  border: none;
  border-radius: 8px;
}

.btn-back-step button:hover {
  color: var(--Marine-blue);
  transition: 0.3s;
  cursor: pointer;
}

#switch {
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: var(--Marine-blue);
  border-radius: 50px;
  position: relative;
}

#switch:checked {
  background-color: var(--Cool-gray);
  transition: 0.3s;
}

#switch::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50px;
  background-color: var(--White);
  position: absolute;
  margin: 2px;
  top: 0;
  left: 0;
  transition: 0.3s;
}

#switch:checked::before {
  left: 20px;
}

#check-custom {
  appearance: none;
  width: 20px;
  height: 20px;
  border: solid 1px var(--Light-gray);
  border-radius: 4px;
}

#check-custom:checked {
  background-color: var(--Purplish-blue);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 24 24' stroke='%23ffffff'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: center;
  transition: 0.3s;
}

#Change {
  background-color: transparent;
  border: none;
  color: var(--Cool-gray);
  cursor: pointer;
  padding: 0;
  font-size: 14px;
}

#Change:hover {
  color: var(--Purplish-blue);
  border-bottom: solid 1px var(--Purplish-blue);
}
