form input {
  display: block;
  width: 94%;
  border: solid 1px var(--Light-gray);
  border-radius: 8px;
  margin-bottom: 4rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  padding: 1.4rem;
  font-weight: 500;
}

form label {
  color: var(--Marine-blue);
}
