form input {
  display: block;
  width: 94%;
  border: solid 1px var(--Light-gray);
  border-radius: 8px;
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 18px;
  padding: 14px;
  font-weight: 500;
}

form label {
  color: var(--Marine-blue);
}
