.info-case {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 80px 0px;
}

.content {
  width: 100%;
  height: auto;
}

.header h1 {
  font-size: 34px;
  font-weight: 700;
  color: var(--Marine-blue);
}

.header p {
  font-size: 16px;
  color: var(--Cool-gray);
  margin-top: 10px;
}
