.sidebar {
  background-image: url(../assets/images/bg-sidebar-desktop.svg);
  background-size: cover;
  width: 284px;
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 12px;
  margin-right: 20px;
}

.step {
  display: flex;
  padding: 14px;
}

.circle {
  width: 40px;
  height: 40px;
  border: solid 1px var(--White);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Magnolia);
}

.step-text {
  margin-left: 14px;
}

.step-text p {
  color: var(--Cool-gray);
  font-size: 12px;
  padding-bottom: 5px;
  font-weight: 500;
}

.step-text a {
  text-decoration: none;
  color: var(--White);
  font-weight: 500;
}
