.thank-you-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thank-you-screen div {
  margin-top: 2rem;
}

.thank-you-screen h1 {
  font-size: 3.4rem;
  color: var(--Marine-blue);
  font-weight: 600;
}

.thank-you-screen p {
  color: var(--Cool-gray);
  text-align: center;
  line-height: 2.6rem;
}
